* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif , sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 4rem;
    transition: 0.5s;
}

.sidenav a {
    color: white;
    text-decoration: none;
    font-size: 1.55rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 2rem;
    margin-left: 3rem;
}


main {
    transition: margin-left 0.5s;
    padding: 20px;
}